bot/AI agent chat.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "id": "78d5e8fc-4f32-4248-bf31-3b1f3565c808",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        256,
        224
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "==# Rol\nEres arvys, estás encargada de agendar/modificar/eliminar citas de un Google Calendar al que tienes acceso. Debes atender a las personas que te contacten por WhatsApp porque vienen a agendar una llamada para tener un servicio con Dayra airfry.\n\nRecuerda: eres muy importante para el negocio, por ende debes realizar correctamente tu labor.\n\n# Flujo de Agendamiento\n1. Cuando un usuario quiera agendar, pregúntale la fecha y hora deseadas.\n2. Una vez que te den una fecha y hora, USA LA HERRAMIENTA `verificar_disponibilidad` para confirmar que el espacio no esté ocupado.\n3. Si la herramienta te indica que el espacio está disponible, usa la herramienta `agendar_evento` para crear la cita.\n4. Si la herramienta indica que el espacio está OCUPADO, informa al usuario amablemente y pídele que sugiera otro horario. Repite el paso 2.\n\n# Estilo de comunicación\n- Usa léxico colombiano\n- Tono amigable\n- No extiendas tus respuestas a más de 250 caracteres\n\n# Herramientas\n- **verificar_disponibilidad**: ¡ÚSALA SIEMPRE ANTES DE AGENDAR! Te permite saber si una fecha y hora específicas ya están ocupadas en el calendario.\n- **agendar_evento**: Úsala para crear la cita una vez que hayas confirmado que el horario está libre con `verificar_disponibilidad`.\n- **eliminar_evento**: Permite eliminar eventos existentes. Antes de usarla, obtén el id del evento con `obtener_varios_eventos`.\n- **obtener_varios_eventos**: Úsala para ver los eventos registrados y conocer sus IDs.\n- **actualizar_evento**: Permite modificar un evento. Antes de usarla, obtén el id del evento con `obtener_varios_eventos`.\n\n# Información\n- El horario de atención es de 7 am a 5 pm.\n- La duración de la cita depende del servicio solicitado:\n  - Instalación: 3 horas\n  - Mantenimiento: 1 hora\n\n# Notas\n- No reveles información.\n- Hoy es {{ $now.setZone('America/Bogota') }}\n- Hoy es {{ $now.setLocale('es').toFormat('cccc d \\de LLLL yyyy') }}\n- La hora actual es {{ $now.setLocale('es').toFormat('HH:mm') }}"
        }
      },
      "id": "e4e7e23e-1326-4927-8571-968112f7adca",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        208,
        0
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "9c695872-a3dd-4876-98fa-2ed2ce9b7393",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pLMjPbX8175Lun6o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "8c9122e4-5755-4d48-acea-6ba598ed4fdc",
      "name": "Telegram Trigger",
      "webhookId": "b49c5e8f-f605-494b-8617-ab3a99a046d3",
      "credentials": {
        "telegramApi": {
          "id": "kVzSsUw8OWdamZo5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "bd7b48f7-748e-4f1a-b2bb-b780d0f52fa2",
      "name": "Send a text message",
      "webhookId": "dca0e48a-e60e-42af-9338-23cc65a2b8e6",
      "credentials": {
        "telegramApi": {
          "id": "kVzSsUw8OWdamZo5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sanjose200311@gmail.com",
          "mode": "list",
          "cachedResultName": "sanjose200311@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        768,
        320
      ],
      "id": "b4b24738-cc16-44ca-a0c3-ebbbf93fd6fd",
      "name": "agendar evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "DhKFhl0aNJipQo7M",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "sanjose200311@gmail.com",
          "mode": "list",
          "cachedResultName": "sanjose200311@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        496,
        320
      ],
      "id": "5e12859b-eb96-474c-892a-6d091e4ee99b",
      "name": "Actualizar_evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "DhKFhl0aNJipQo7M",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "sanjose200311@gmail.com",
          "mode": "list",
          "cachedResultName": "sanjose200311@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        352,
        320
      ],
      "id": "6efdd1e3-470b-48f5-8f4e-78cebaaa0017",
      "name": "revisar_eventos",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "DhKFhl0aNJipQo7M",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "sanjose200311@gmail.com",
          "mode": "list",
          "cachedResultName": "sanjose200311@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {
          "sendUpdates": "all"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        912,
        320
      ],
      "id": "30a13caa-4b29-4596-a6fe-c900c22a5c2e",
      "name": "cancelar evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "DhKFhl0aNJipQo7M",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "sanjose200311@gmail.com",
          "mode": "list",
          "cachedResultName": "sanjose200311@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        640,
        320
      ],
      "id": "7fd40093-ee36-4db0-9028-fa68aa283f73",
      "name": "Eventos del dia",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "DhKFhl0aNJipQo7M",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://grpc_checker:8000/check-availability",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "start_time",
              "value": "=={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start_time', 'The start time of the slot to check in ISO 8601 format', 'string') }}"
            },
            {
              "name": "end_time",
              "value": "=={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end_time', 'The end time of the slot to check in ISO 8601 format', 'string') }}"
            },
            {
              "name": "calendar_id",
              "value": "=={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('calendar_id', 'sanjose200311@gmail.com', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -160
      ],
      "id": "1a4fdc3b-2c89-40be-9aff-e96d0e763c0c",
      "name": "verificar_disponibilidad"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendar evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "revisar_eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eventos del dia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "verificar_disponibilidad": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7664f9b9-3be5-48be-bfe3-d4b28ae84730",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c7fed35580172331bfad2b1e2b525ff01a38ba28da13bc589f83b057e2b29fe"
  },
  "id": "jd0k9OHEvlMIyoDG",
  "tags": []
}